<h1>Photo Sharing!<small> Profile</small></h1>

<% if current_user %>
  <% end %>

<%= form_for @photo do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :caption %>
  <%= f.text_field :caption %>
  <%= f.file_field :photo %>
  <button class="btn btn-primary btn-xs">Add photo</button>
<% end %>
