<h1>Photo Sharing!<small> Profile</small></h1>

<% if current_user %>
  <%= image_tag current_user.avatar.url(:medium) %>
  <% end %>

<%= form_for @photo do |f| %>
  <%= f.label :caption %>
  <%= f.text_field :caption %>
  <%= f.label :name %>
  <%= f.password_field :name %>
  <%= f.file_field :photo %>
  <%= f.submit "Add photo" %>
<% end %>

<form method="post", action="/users/5/photos">
  ...some inputs here
</from>
