<h1><%= current_user.email %><small> Edit your profile</small></h1>
<div>
<div id="profile">
  <%= image_tag current_user.avatar.url(:medium) %>
</div>

  <h4>About me: <br> "<%= current_user.bio %>"</h4>
  <h4>My Interests: <br> "<%= current_user.interest %>"</h4><br>
</div>

<%= form_for current_user do |f| %>
  <%= f.file_field :avatar %>
  <button class="btn btn-primary btn-xs">Update Avatar</button><br><br>
  <% end %>

<%= form_for current_user do |f| %>
  <%=f.label :bio %>
  <%=f.text_field :bio %>
  <button class="btn btn-primary btn-xs">Add Bio</button><br><br>
  <% end %>

<%= form_for current_user do |f| %>
  <%=f.label :interests %>
  <%=f.text_field :interest %>
  <button class="btn btn-primary btn-xs">Add Interests</button><br><br><br><br>
  <% end %>

<h2>Upload your photos</h2>
<%= form_for [@user, @photo] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :caption %>
  <%= f.text_field :caption %>
  <%= f.file_field :photo %>
  <button class="btn btn-primary btn-xs">Add photo</button>
<% end %>
