<!DOCTYPE html>
<html>
<head>
  <title>Photo Sharing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  <div class="nav">
    <nav class="main-nav">
      <ul class="list-unstyled">
          <li><button class="btn btn-primary btn-xs"><%= link_to 'Home', "/" %></button></li>
        <% if current_user %>
          <li><button class="btn btn-danger btn-xs"><%= link_to 'Logout', log_out_path(@user) %></button></li>
          <div class="nav-right">
          Welcome, <%= current_user.email%>!
          <li><button class="btn btn-primary btn-xs">Add photo</button></li>
        </div>
          <% else %>
          <li><button class="btn btn-success btn-xs"><%= link_to 'Login', log_in_path(@user) %></button></li>
          <li><button class="btn btn-warning btn-xs"><%= link_to 'Create Account', new_user_path(@user) %></button></li>
          <% end %>
      </ul>
    </nav>
  </header>
<%= flash[:alert] %>
<%= flash[:notice] %>
<div>
<%= yield %>
</div>

  </div>
</body>
</html>
